In [15]:
import pandas as pd
import numpy as np

### Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd.
Создайте датафрейм authors со столбцами author_id и author_name,
в которых соответственно содержатся данные:
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм books cо столбцами author_id, book_title и price,
в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [16]:
authors = pd.DataFrame({'author_id': [1, 2, 3], 'author_name': ['Тургенев', 'Чехов', 'Островский']})
books = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3], 'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 'price': [450, 300, 350, 500, 450, 370, 290]})

print(authors)
print(book)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [45]:
authors_price = pd.merge(authors, books, on='author_id', how='outer')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price 
с пятью самыми дорогими книгами.

In [41]:
top5 = authors_price.nlargest(5, 'price')
top5 = top5.reset_index(drop=True)
print(top5)

   author_id author_name         book_title  price
0          2       Чехов   Толстый и тонкий    500
1          1    Тургенев        Отцы и дети    450
2          2       Чехов    Дама с собачкой    450
3          3  Островский              Гроза    370
4          1    Тургенев  Дворянское гнездо    350

### Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price.
В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,
минимальная, максимальная и средняя цена на книги этого автора.

In [65]:
authors_min = pd.DataFrame(authors_price.groupby('author_name')['price'].min()).rename(columns={'price':'min_price'})
authors_max = pd.DataFrame(authors_price.groupby('author_name')['price'].max()).rename(columns={'price':'max_price'})
authors_mean = pd.DataFrame(authors_price.groupby('author_name')['price'].mean()).rename(columns={'price':'mean_price'})
print(authors_min)
print(authors_max)
print(authors_mean)
authors_stat = pd.merge(authors_min, authors_max, on='author_name', how='inner')
authors_stat = pd.merge(authors_stat, authors_mean, on='author_name', how='inner').reset_index()
print(authors_stat)

             min_price
author_name
Островский         290
Тургенев           300
Чехов              450
             max_price
author_name
Островский         370
Тургенев           450
Чехов              500
             mean_price
author_name
Островский   330.000000
Тургенев     366.666667
Чехов        475.000000
  author_name  min_price  max_price  mean_price
0  Островский        290        370  330.000000
1    Тургенев        300        450  366.666667
2       Чехов        450        500  475.000000

### * Задание 5

Создайте новый столбец в датафрейме authors_price под названием cover,
в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая.
В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table 
с помощью вопросительного знака.

Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке.
Используйте для этого функцию pd.pivot_table. 
При этом столбцы должны называться "твердая" и "мягкая",
а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями,
при необходимости загрузите библиотеку Numpy.

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl".
Затем загрузите из этого файла датафрейм и назовите его book_info2.
Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [67]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [68]:
?pd.pivot_table

In [79]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name', 'book_title'],
...                     columns=['cover'],aggfunc=np.sum)
book_info['мягкая'].fillna(0, inplace=True)
book_info['твердая'].fillna(0, inplace=True)
book_info['мягкая'] = book_info['мягкая'].astype(int)
book_info['твердая'] = book_info['твердая'].astype(int)

print(book_info)

# Сохранение в файл
book_info.to_pickle('book_info.pkl')
# Загрузка из файла
book_info2 = pd.read_pickle('book_info.pkl')

print(book_info2)

cover                             мягкая  твердая
author_name book_title
Островский  Гроза                    370        0
            Таланты и поклонники     290        0
Тургенев    Дворянское гнездо        350        0
            Отцы и дети                0      450
            Рудин                    300        0
Чехов       Дама с собачкой            0      450
            Толстый и тонкий           0      500
cover                             мягкая  твердая
author_name book_title
Островский  Гроза                    370        0
            Таланты и поклонники     290        0
Тургенев    Дворянское гнездо        350        0
            Отцы и дети                0      450
            Рудин                    300        0
Чехов       Дама с собачкой            0      450
            Толстый и тонкий           0      500